.contenedor{
    background-color: rgb(132, 132, 221);
}

h1{
    margin-left: 40%;
    height: 50px;
}

h2{
    height: 30px;
}

.nom_estudiante{
    margin-left: 40%;
    height: 50px;
    border-radius: 10%;
}

.datos{
    background-color: aquamarine;

}